<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title>Angular JS App</title>
    </head>
    <body ng-app="ShoppingListApp">
        <h1>Custom Service</h1>
        <div ng-controller="ShoppingListAddController as itemAdder">
            <div>
                <input type="text" ng-model="itemAdder.itemName" placeholder="Item Name"/>
                <input type="number" ng-model="itemAdder.itemQuantity" placeholder="Item Quantity"/>
            </div>
            <div>
                <button ng-click="itemAdder.addItem();">Add Item</button><br>
            </div>
        </div>
        <div ng-controller="ShoppingListShowController as showList">
            <ol>
                <li ng-repeat="item in showList.items">
                    {{item.quantity}} of {{item.name}}
                </li>
            </ol>
        </div>
    </body>
</html>